body {
    font-family: 'PT Sans', sans-serif;
    
    background: rgb(41,0,62);
    background: linear-gradient(144deg, rgba(41,0,62,1) 0%, rgba(49,0,74,1) 35%, rgba(117,0,177,1) 100%);
    color: #ffffff;
}

h1 {
    font-size: 1.5em;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    color: #b1b1b1;
}

.dashedlink {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.dashedlink:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

blockquote {
    background-color: #411558;
}

.border {
    border-color: #838486 !important;
}