@font-face {
    font-family: 'PT Sans';
    src: url('pt-sans-cyrillic.woff2') format('woff2'),
         url('pt-sans-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Serif';
    src: url('pt-serif_regular.woff2') format('woff2');
}

body {
    font-family: 'PT Sans', sans-serif;
}

body.ye {
    font-family: 'PT Serif', serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

a {
    text-decoration: underline;
}

.dashedlink {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.dashedlink:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.text-tertiary {
    color: #cdd4da;
}

.green {
    color: #007d1e;
}

.green:hover {
    color: #004e13;
}
