body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2d2d2d;
    color: #ffffff;
}

h1 {
    font-size: 1.5em;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    color: #b1b1b1;
}

.dashedlink {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.dashedlink:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

blockquote {
    background-color: #444343;
}

.border {
    border-color: #838486 !important;
}