<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Сайт Бориса Оводова">
	<meta property="og:title" content="id_rsa.pub">
	<meta property="og:description" content="">
	<meta property="og:url" content="https://ovodov.me/id_rsa.pub">
	<meta property="og:image" content="{{ url_for('static', filename='avatar.png') }}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114653965-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-114653965-1');
	</script>

	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter49313443 = new Ya.Metrika2({ id:49313443, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/49313443" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

	<title>Этот, как его?</title>
</head>
<body>
	<pre style="word-wrap: break-word; white-space: pre-wrap;">ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDOAkCwPL5YGV4ms5t8zzAlx0qrUbxtiXDiMnomZtXOCKPE8ekRz2m4HLBmiN+h5hdfJ4KJNnvEQ9QpUBxA9ZQAWCOC3l4c9X8xK5chfpNoREa+jH/cBsP1jho/55FIps91qGvlILmQAf6in4nxHNxZ6nTulT37Ys8tGFXZZxd/azI6eWOPzuUiOK7C3ML25Oi9nuVBHuWC3H96dIZfWOxuiWuRGmR4usaAb97c9n5Yb+x4NRLOYuc8Rj5ZpXjrcKMZ2exZvncwEn5Qfy+c5oh7FAbr/hMZTpA0s8txYCN6iOfO19TVdlu/UaecwsOzoJAaxu05v91sKlQ/8I3CcCWx boris@ovodov.me</pre>
</body>
</html>
