<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta property="og:title" content="Сайт Бориса Оводова">
	<meta property="og:type" content="article">
	<meta property="og:description" content="Собиратель газет со всего света, училка в 35-й, пиэм в ПИИ Гео">
	<meta property="og:url" content="http://ovodov.me/">
	<meta property="og:image" content=" {{ url_for('static', filename='avatar.png') }} ">

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114653965-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-114653965-1');
	</script>

	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47818660 = new Ya.Metrika({ id:47818660, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/47818660" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style.css') }} ">
	<link rel="shortcut icon" href=" {{ url_for('static', filename='favicon.png') }} ">

	<title>Этот, как его?</title>

</head>
<body>
	<img src="{{ url_for('static', filename='avatar.png') }}" style="height: 3em;">
	<header>Всем привет от Бориса Оводова.</header>
	<p class="mb">Занимаюсь <a href="http://ispgeo.ru">менеджментом проектов</a> по разработке ГИС, а по субботам преподаю астрономию в <nobr>35-й</nobr> екатеринбургской гимназии.</p>
	<p>Собираю газеты со всего света и веду об этом англоязычный <a href="http://www.papersaround.com/">сайт</a>. Также у проекта есть <a href="https://www.instagram.com/papersaround/">аккаунт</a> в Инстаграме.</p>
	<p class="mb">Добрые люди присылают огромное число газет, для обработки которых написал программу <a href="https://github.com/borisovodov/np">ЭнПи</a>.</p>
	<p>Иногда выкладываю разноплановые лонгриды на <a href="https://medium.com/@borisovodov">Медиум</a>.</p>
	<p>Веду умиротворённый <a href="https://www.instagram.com/ovodovboris/">Инстаграм</a>.</p>
	<p>Сижу во <a href="https://vk.com/borisovodov">Вконтакте</a> и на <a href="https://www.facebook.com/borisovodov">Фэйсбуке</a>.</p>
	<p class="mb"><a href="https://moikrug.ru/borisovodov">Резюме</a> с боевыми заслугами разместил на Моём круге.</p>
	<p>-- <br>
	<a href="mailto:boris@ovodov.me">boris@ovodov.me</a></p>
</body>
</html>