<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Этот, как его?">
	<meta property="og:title" content="Борькин хоумпэйдж">
	<meta property="og:description" content="Собиратель газет со всего света, училка в 35-й, аналитик в Наумене">
	<meta property="og:url" content="https://ovodov.me/">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

	<title>Этот, как его?</title>
</head>
<body>
	<img src="{{ url_for('static', filename='avatar.png') }}" style="height: 3em;">
	<header>Всем привет от Бориса Оводова.</header>
	<p>Занимаюсь бизнес-аналитикой в <a href="https://www.naumen.ru/">Наумене</a>, а по субботам преподаю астрономию в <nobr>35-й</nobr> екатеринбургской гимназии.</p>
	<p>Подготовил <a href="https://ovodov.me/astroege/">методичку по астрономии</a> для успешной сдачи ЕГЭ по физике.
	<p class="margin-top">Собираю газеты со всего света и веду об этом англоязычный <a href="http://www.papersaround.com/">сайт</a>. Также у проекта есть <a href="https://www.instagram.com/papersaround/">аккаунт</a> в Инстаграме.</p>
	<p class="margin-top">Иногда выкладываю разноплановые лонгриды на <a href="https://medium.com/@borisovodov">Медиум</a>.</p>
	<p>Веду умиротворённый <a href="https://www.instagram.com/ovodovboris/">Инстаграм</a>.</p>
	<p>Сижу во <a href="https://vk.com/borisovodov">Вконтакте</a> и на <a href="https://www.facebook.com/borisovodov">Фэйсбуке</a>.</p>
	<p>Кодю на <a href="https://github.com/borisovodov">Гитхабе</a>.</p>
	<p>Резюме с боевыми заслугами разместил на <a href="https://moikrug.ru/borisovodov">Моём круге</a> и <a href="https://www.linkedin.com/in/borisovodov/">Линкедине</a>.</p>
	<p class="margin-top">-- <br>
	<a href="mailto:boris@ovodov.me">boris@ovodov.me</a></p>
</body>
</html>
