<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Этот, как его?">
	<meta property="og:title" content="Производственный календарь в iCal">
	<meta property="og:description" content="В интернете полно производственных календарей. Но все они предназначены для печати или же доступны на отдельном сайте...">
	<meta property="og:url" content="https://ovodov.me/trud/">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114653965-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-114653965-1');
	</script>

	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter49313443 = new Ya.Metrika2({ id:49313443, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/49313443" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

	<script type="text/javascript">
		function openInstruction(id){
    		display = document.getElementById(id).style.display;
    		if(display=='none'){
    			document.getElementById(id).style.display='block';
    		}else{
				document.getElementById(id).style.display='none';
    		}
		}
	</script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

	<title>Этот, как его?</title>
</head>
<body class="light">
	<a href="https://ovodov.me"><img src="{{ url_for('static', filename='avatar.png') }}" style="height: 3em;"></a>
	<header>Производственный календарь в iCal</header>
	<p>В интернете полно производственных календарей. Бери и пользуйся! Однако все они предназначены для печати или же доступны на как страница на отдельном сайте.</p>
	<p>Однако многие из нас пользуются приложениями-календарями (например Гугл Календарём или Аутлуком). Проблема в том, что для них не существует полноценного производственного календаря (а стандартные календари с праздниками путают нас событиями навроде «Масленицы» или «Дня войск специальных операций»).</p>
	<p>Теперь вы можете воспользоваться производственным календарём в формате iCal, который понимает каждое приложение-календарь.</p>
	<p>Загрузить календарь: <a class="light" href="https://ovodov.me/trud.ics">https://ovodov.me/trud.ics</a></p>
	<p>Инструкция по добавлению календаря в используемое вами приложение:</p>
	<ul>
		<li><a class="light dashedlink" href="#" onclick="openInstruction('gInstruction'); return false">Гугл Календарь</a></li>
		<div id="gInstruction" style="display: none;">Главное меню — Добавить другие календари — Добавить по URL — В поле «URL календаря» вставьте «https://ovodov.me/trud.ics» после чего нажмите кнопку «Добавить календарь»</div>
		<li><a class="light dashedlink" href="#" onclick="openInstruction('mInstruction'); return false">Майкрософт Аутлук</a></li>
		<div id="mInstruction" style="display: none;">Главная — Открыть календарь — Из Интернета — В поле вставьте «https://ovodov.me/trud.ics» после чего нажмите кнопку «ОК»</div>
		<li><a class="light dashedlink" href="#" onclick="openInstruction('aInstruction'); return false">Эппл Календарь</a></li>
		<div id="aInstruction" style="display: none;">Файл — Новая подписка Календаря — В поле «URL-адрес календаря» вставьте «https://ovodov.me/trud.ics» после чего нажмите кнопку «Подписаться»</div>
	</ul>
	<p class="margin-top">-- <br>
	<a class="light" href="mailto:boris@ovodov.me">boris@ovodov.me</a></p>
</body>
</html>
